:root {
  --size: 40px;
  --score-height: 50px;
}

body {
  font-family: system-ui;
}

#container {
  margin:  0 auto;
  box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.55);

  width: calc(var(--size) * 8);

  --webkit-user-select: none;
  user-select: none;
}


#scores {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr var(--score-height) 1fr;
  justify-content: space-between;
  height: var(--score-height);
}

#right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#bombs, #timer, #face {
  line-height: var(--score-height);
  text-align: center;
  font-size: 30px;
  /*width: 3.5em;*/
}

#bombs, #timer {
  padding: 0 0.3em;
}

#flagger {
  font-size: 30px;
  width: var(--score-height);
  text-align: center;

  cursor: pointer;
  background: #fff;
  border: outset 1px #eee;
}

#flagger.active {
  border: inset 1px #eee;
}

#face {
  width: var(--score-height);
}

#board {
  display: flex;
  flex-wrap: wrap;

  width: calc(var(--size) * 8);
  height: calc(var(--size) * 10);
}

#board div {
  flex: var(--size) 0 0;
  box-sizing: border-box;
  width: var(--size);
  height: var(--size);

  line-height: var(--size);
  text-align: center;
  font-size: calc(var(--size) * 0.8);
  font-weight: bold;

  border: outset 3px #eee;

  --webkit-user-select: none;
  user-select: none;

  cursor: pointer;
}

#board div.cleared {
  border: none;
}

.bomb {
  background: red;
  border-radius: 3px;
}

.level-1 {
  color: blue;
}

.level-2 {
  color: green;
}

.level-3 {
  color: red;
}

.level-4 {
  color: darkblue;
}

.level-5 {
  color: brown;
}

.level-6 {
  color: cyan;
}

.level-7 {
  color: black;
}

.level-8 {
  color: grey;
}

.flagged {

}

.flagged:after {
  /*content: '🛡';*/
  content: '🚫';
  display: block;

  margin: -2px 0 0 -2px;
  height: var(--size);
  width: var(--size);
  pointer-events: none;
}